# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.dll
*.pdb
*.exe
/ParseExcelFile.Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ParseExcelFile.Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ParseExcelFile.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ParseExcelFile.Test/obj/Debug/ParseExcelFile.Test.csprojResolveAssemblyReference.cache
/ParseExcelFile.Test/obj/Debug/ParseExcelFile.Test.csproj.FileListAbsolute.txt
/ParseExcelFile.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ParseExcelFile.Test/obj/Debug
/ParseExcelFile.Test/bin/Debug/nunit.framework.xml
/ParseExcelFile.Test/bin/Debug
/ParseExcelFile.Test
/ParseExcelFile/ParseExcelFile.csproj.user
/ParseExcelFile/packages/NUnit.3.0.1/NUnit.3.0.1.nupkg
/ParseExcelFile/packages/NUnit.3.0.1/NOTICES.txt
/ParseExcelFile/packages/NUnit.3.0.1/LICENSE.txt
/ParseExcelFile/packages/NUnit.3.0.1/lib/portable-net45+win8+wp8+wpa81+Xamarin.Mac+MonoAndroid10+MonoTouch10+Xamarin.iOS10/nunit.framework.xml
/ParseExcelFile/packages/NUnit.3.0.1/lib/portable-net45+win8+wp8+wpa81+Xamarin.Mac+MonoAndroid10+MonoTouch10+Xamarin.iOS10
/ParseExcelFile/packages/NUnit.3.0.1/lib/net45/nunit.framework.xml
/ParseExcelFile/packages/NUnit.3.0.1/lib/net45
/ParseExcelFile/packages/NUnit.3.0.1/lib/net40/nunit.framework.xml
/ParseExcelFile/packages/NUnit.3.0.1/lib/net40
/ParseExcelFile/packages/NUnit.3.0.1/lib/net20/nunit.framework.xml
/ParseExcelFile/packages/NUnit.3.0.1/lib/net20
/ParseExcelFile/packages/NUnit.3.0.1/lib/dotnet/nunit.framework.xml
/ParseExcelFile/packages/NUnit.3.0.1/lib/dotnet
/ParseExcelFile/packages/NUnit.3.0.1/lib
/ParseExcelFile/packages/NUnit.3.0.1/CHANGES.txt
/ParseExcelFile/packages/NUnit.3.0.1
/ParseExcelFile/packages/Newtonsoft.Json.7.0.1/tools/install.ps1
/ParseExcelFile/packages/Newtonsoft.Json.7.0.1/tools
/ParseExcelFile/packages/Newtonsoft.Json.7.0.1/Newtonsoft.Json.7.0.1.nupkg
/ParseExcelFile/packages/Newtonsoft.Json.7.0.1/lib/portable-net45+wp80+win8+wpa81+dnxcore50/Newtonsoft.Json.xml
/ParseExcelFile/packages/Newtonsoft.Json.7.0.1/lib/portable-net45+wp80+win8+wpa81+dnxcore50
/ParseExcelFile/packages/Newtonsoft.Json.7.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
/ParseExcelFile/packages/Newtonsoft.Json.7.0.1/lib/portable-net40+sl5+wp80+win8+wpa81
/ParseExcelFile/packages/Newtonsoft.Json.7.0.1/lib/net45/Newtonsoft.Json.xml
/ParseExcelFile/packages/Newtonsoft.Json.7.0.1/lib/net45
/ParseExcelFile/packages/Newtonsoft.Json.7.0.1/lib/net40/Newtonsoft.Json.xml
/ParseExcelFile/packages/Newtonsoft.Json.7.0.1/lib/net40
/ParseExcelFile/packages/Newtonsoft.Json.7.0.1/lib/net35/Newtonsoft.Json.xml
/ParseExcelFile/packages/Newtonsoft.Json.7.0.1/lib/net35
/ParseExcelFile/packages/Newtonsoft.Json.7.0.1/lib/net20/Newtonsoft.Json.xml
/ParseExcelFile/packages/Newtonsoft.Json.7.0.1/lib/net20
/ParseExcelFile/packages/Newtonsoft.Json.7.0.1/lib
/ParseExcelFile/packages/Newtonsoft.Json.7.0.1
/ParseExcelFile/packages
/ParseExcelFile/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ParseExcelFile/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ParseExcelFile/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ParseExcelFile/obj/Debug/ParseExcelFile.csprojResolveAssemblyReference.cache
/ParseExcelFile/obj/Debug/ParseExcelFile.csproj.FileListAbsolute.txt
/ParseExcelFile/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ParseExcelFile/obj/Debug
/ParseExcelFile/mom_alerts_iplanner.json
/ParseExcelFile/ipic-sql-json.conf~
/ParseExcelFile/ipic-iis-json.conf~
/ParseExcelFile/bin/Debug/ParseExcelFile.vshost.exe.manifest
/ParseExcelFile/bin/Debug/ParseExcelFile.vshost.exe.config
/ParseExcelFile/bin/Debug/ParseExcelFile.exe.config
/ParseExcelFile/bin/Debug/Newtonsoft.Json.xml
/ParseExcelFile/bin/Debug
/ParseExcelFile/.vs/ParseExcelFile/v14/.suo
/ParseExcelFile/.vs/ParseExcelFile/v14
/ParseExcelFile
